<%- include("partials/header"); -%>

    <body class="desktop overflow-y-auto">

        <div class="container overflow-y-auto pb-5">
            <div class="row gx-4">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-black pt-5 px-5">
                    <div style="text-align: center; font-size: 20px;" class="pb-4">
                        <b>Project Data Information</b>
                    </div>
                    <form action="/create_project" method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Project Name</span>
                            <input type="text" class="form-control" placeholder="User's Project Name (without spaces)"
                                aria-label="Username" aria-describedby="basic-addon1" name="name">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Technologies</span>
                            <input type="text" class="form-control" placeholder="Project Technologies"
                                aria-label="Username" aria-describedby="basic-addon1" name="tech">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Collaborators</span>
                            <input type="text" class="form-control" placeholder="E-mail IDs separated by commas without spaces (if any)"
                                aria-label="Username" aria-describedby="basic-addon1" name="colab">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">Project Information</span>
                            <textarea class="form-control" aria-label="With textarea" name="info"></textarea>
                        </div>

                        <div class="fbtn pt-3" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Create Project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include("partials/footer"); -%>